@import "./variables.scss";

body.login-page {
  background-color: $color-bg;
  &::after {
    display: none;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

  .logo {
    width: 280px;
    margin-bottom: $space-lg;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 380px;
    gap: $space-md * 1.5;

    .input-group {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-text;
      width: 100%;
      padding-bottom: $space-xs;

      // Icône
      .icon {
        margin-right: $space-sm;
        font-size: 1.2em;
        color: $color-text-light;
      }

      input {
        flex: 1;
        border: none;
        outline: none;
        padding: $space-sm 0;
        font-size: 1.1em;
        background: transparent;
        color: $color-text;

        &::placeholder {
          color: $color-text-light;
        }
      }
    }

    .forgot {
      font-size: $font-size-small;
      color: $color-text-light;
      align-self: flex-start;

      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }

    .login-btn {
      background-color: $color-accent;
      color: $color-text;
      padding: $space-md $space-lg;
      font-weight: bold;
      font-size: 1.1em;
      border: none;
      border-radius: $radius-md;
      cursor: pointer;
      box-shadow: $shadow-sm;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($color-accent, 10%);
      }
    }

    .signup {
      font-size: 1em;
      color: $color-text;

      a {
        font-weight: bold;
        text-decoration: underline;
        color: $color-text;
      }
    }
  }
}