@import "./styles/variables";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: $space-lg;
  text-align: center;
}

.card {
  padding: $space-lg;
  background: $color-bg-alt;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
}

.text-muted {
  color: $color-text-light;
}